<%- include("./partials/header") %>
    <div class="row row-cols-1 row-cols-md-4 g-4 cardGrid">
      <% book.forEach((book) => { %>
        <div class="col">
          <div class="card">
            <img src="/uploads/<%=book.coverPic.data%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=book.title%></h5>
              <p class="card-text"><%=book.description%></p>
              <a href="/likebook/<%=book._id.toString()%>"><button class="btn btn-outline-primary" id="like-btn">Like</button></a>
              <a href="/download/<%=book.file.data%>"><button class="btn btn-success download-btn">Download</button></a>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
    <%- include("./partials/footer") %>
</body>
</html>